body{padding-top:1.2em;background-color: #5c5954 !important;} 

/* new color scheme inspiried by:
http://bellroy.com/pages/slim-your-wallet-052014-03
Thanks!
background:#F5C52C;*/

#id_list_table tr{
  font-family: 'Alegreya', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.4em;
  letter-spacing: 0.02em;
  color: #D3D0CB;
  }
#id_list_table{color: #605c58;}

.jumbotron h1, .jumbotron .h1{font-family: 'Lato',sans-serif;
color: #c75724 !important;
font-weight: 300;
font-size: 40px;
font-style: normal;
text-transform: uppercase;
margin-bottom: 25px;
margin-top: 33px;
}

#id_text {margin-top: 2em;color:#b94947;}
